/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */button,hr,input{overflow:visible}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}[hidden],template{display:none}

@font-face {
  font-family: 'ClassicGrotesquePro';
  src: url('../fonts/ClassicGrotesquePro-Bold.eot');
  src: url('../fonts/ClassicGrotesquePro-Bold.woff2') format('woff2'),
       url('../fonts/ClassicGrotesquePro-Bold.woff') format('woff'),
       url('../fonts/ClassicGrotesquePro-Bold.ttf') format('truetype'),
       url('../fonts/ClassicGrotesquePro-Bold.svg#ClassicGrotesquePro-Bold') format('svg'),
       url('../fonts/ClassicGrotesquePro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ClassicGrotesquePro';
  src: url('../fonts/ClassicGrotesquePro-Medium.eot');
  src: url('../fonts/ClassicGrotesquePro-Medium.woff2') format('woff2'),
       url('../fonts/ClassicGrotesquePro-Medium.woff') format('woff'),
       url('../fonts/ClassicGrotesquePro-Medium.ttf') format('truetype'),
       url('../fonts/ClassicGrotesquePro-Medium.svg#ClassicGrotesquePro-Medium') format('svg'),
       url('../fonts/ClassicGrotesquePro-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ClassicGrotesquePro';
  src: url('../fonts/ClassicGrotesquePro-Regular.eot');
  src: url('../fonts/ClassicGrotesquePro-Regular.woff2') format('woff2'),
       url('../fonts/ClassicGrotesquePro-Regular.woff') format('woff'),
       url('../fonts/ClassicGrotesquePro-Regular.ttf') format('truetype'),
       url('../fonts/ClassicGrotesquePro-Regular.svg#ClassicGrotesquePro-Regular') format('svg'),
       url('../fonts/ClassicGrotesquePro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Bold.eot');
  src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
       url('../fonts/Rubik-Bold.woff') format('woff'),
       url('../fonts/Rubik-Bold.ttf') format('truetype'),
       url('../fonts/Rubik-Bold.svg#Rubik-Bold') format('svg'),
       url('../fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'ClassicGrotesquePro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
  font-weight: 500;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #f1ece9;
  color: #181F24;
  margin: 0;
  padding: 220px 0 120px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}