.header {
  position: fixed;
  height: 100px;
  font-size: 0;
  top: 0;
  z-index: 3;
  width: 100%;

  > div {
    vertical-align: middle;
  }

  &-logo {
    display: inline-block;
    width: 250px;
    text-align: center;
    background: #fff;
    height: 100px;

    img {
      width: 80px;
      vertical-align: bottom;
      margin: 10px;
    }
  }

  &-stats {
    display: inline-block;
    min-width: 1670px;
    min-width: calc(100% - 250px);
    background: #181F24;
    color: #fff;
    height: 100px;
  }

  &-stats__archived {
    display: inline-block;
    font-size: 27px;
    vertical-align: middle;
    padding-left: 40px;

    &-text {
      line-height: 100px;
      max-height: 100px;
      transform: translateY(-4px);
    }

    &-count {
      display: inline-block;
      color: #F75E47;
      font-weight: 700;
      font-size: 56px;
      margin: 0 30px;
      transform: translateY(10px);
    }
  }

  &-stats__detail {
    display: inline-block;
    vertical-align: middle;
    padding-left: 40px;

    > div {
      display: inline-block;
      margin: 0 40px;

      > span {
        display: block;
      }
    }

    &-count {
      color: #F75E47;
      font-size: 38px;
      font-weight: 700;
    }

    &-text {
      font-size: 22px;
      font-weight: 500;
    }
  }
}