.main {
  width: 1860px;
  margin: 30px auto;

  &--with-back-button {
    .main-headline__year {
      transform: translate(240px);
    }

    .main-title {
      padding-left: 240px;
    }
  }

  &-title {
    font-size: 26px;
    font-weight: 500;
    padding-left: 64px;
    text-transform: uppercase;
    margin: 0;
  }  

  &-headline {
    position: relative;
    text-align: center;
    margin-bottom: 18px;

    > * {
      vertical-align: top;
    }

    &__back-button {
      background: #181F24;
      color: #F75E47;
      line-height: 1;
      font-size: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding: 26px 36px;
      z-index: 4;
      position: fixed;
      top: 250px;
      left: 20px;
    }

    &__back-image {
      height: 24px;
      margin-right: 24px;
      margin-bottom: -3px;
    }

    &__year {
      float: left;
      font-size: 60px;
      font-weight: 700;
      border-bottom: 6px solid #f75e47;
      transform: translateX(64px);
    }

    &__irnus {
      position: relative;

      > div {
        vertical-align: middle;
      }

      &-number {
        display: inline-block;
        font-size: 80px;
        font-weight: 700;
        font-family: 'Rubik';
        color: #EAC958;
      }

      &-caption {
        display: inline-block;
        font-size: 20px;
        text-align: right;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-left: -10px;

        &--bold {
          font-weight: 700;
          display: block;
        }
      }
    }

    &__logo-info {
      position: fixed;
      top: 242px;
      right: 0;
      width: 100px;
      height: 48px;
      background: #fff;
      text-align: center;
      padding: 4px 0;
      z-index: 4;

      img {
        height: 40px;
      }
    }

    &__info {
      position: fixed;
      top: 290px;
      right: 0;
      background: #f75e47;
      color: #fff;
      padding: 20px 30px;
      z-index: 4;

      &-icon {
        width: 40px;
        height: 40px;
        vertical-align: middle;
      }

      &-text {
        font-size: 24px;
        letter-spacing: 2px;
        vertical-align: middle;
      }
    }

    &__irnus {
      display: inline-block;
    } 

    &:after {
      display: block;
      content: "";
      clear: both;
    }
  }

  &-slider {
    position: relative;
    overflow: hidden;

    .tns-nav {
      display: none;
    }
    
    &__items {
      border-top: 1px solid #707070;
      border-bottom: 1px solid #707070;
      margin: 25px auto;
      padding: 44px 44px 32px;
      list-style: none;
      font-size: 0;
    }

    &__item {
      display: inline-block;
      width: 20%;
      text-align: center;
      padding: 0 22px;

      &.js-tns-active {
        transform: scale(1.1);

        span {
          visibility: visible;
        }

        a:first-of-type {
          position: relative;

          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(240, 81, 81, 0.2) url('../images/icons/album_art_play_button.png') no-repeat center;
            background-size: 125px 125px;
            border-radius: 5px;
          }
        }
      }

      &-cover {
        width: 100%;
        border-radius: 5px;
      }
    }

    &__item-link {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &:first-of-type {
        margin-bottom: 28px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
      }
    }

    &__item-title {
      font-size: 23px;
      letter-spacing: 2px;
      text-transform: uppercase;
      visibility: hidden;
      display: block;
    }

    &__item-author {
      display: block;
      color: #900F2B;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 2px;
      visibility: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-top: 2px;
      margin-bottom: 8px;
    }

    button[data-controls=prev],
    button[data-controls=next] {
      position: absolute;
      width: 100px;
      top: 55px;
      bottom: 32px;
      border: none;
      color: transparent;
      z-index: 1;
    }

    button[data-controls=prev] {
      background: #f1ece9 url(../images/icons/previous_album_button.png) no-repeat 8px center;
      background-size: 64px;
      left: 0;
    }

    button[data-controls=next] {
      background: #f1ece9 url(../images/icons/next_album_button.png) no-repeat 26px center;
      background-size: 64px;
      right: 0;

      > img {
        right: 0;
      }
    }

    &__button-image {
      position: absolute;
      transform: translateY(-50%);
      width: 64px;
      height: 64px;
      top: 50%;
    }

    .js-tns-prev,
    .js-tns-next {
      position: absolute;
      top: 98px;
      z-index: 3;
      width: 350px;
      height: 373px;
    }

    .js-tns-prev {
      left: 380px;
    }

    .js-tns-prev--prev {
      width: 300px;
      left: 80px;
    }

    .js-tns-next {
      right: 380px;
    }

    .js-tns-next--next {
      width: 300px;
      right: 80px;
    }
  }

  &-album {
    position: relative;
    &__items {
      list-style: none;
      font-size: 0;
      margin: 14px -12px;
    }
    &__item {
      display: inline-block;
      width: 16.66667%;
      position: relative;
      margin: 10px 0;
      padding: 0 12px;
      box-sizing: border-box;
    }

    &__item-link {
      display: block;

      &:first-of-type {
        position: relative;
        margin-bottom: 16px;

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(144, 15, 43, 0.4);
          border-radius: 5px;
        }
      }
    }

    &__item-cover {
      width: 100%;
      border-radius: 5px;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, .25);

    }

    &__item-note {
      position: absolute;
      width: 54%;
      top: 34px;
      left: 0;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 2px;
      padding: 24px 12px;
      background: #f75e47;
      text-transform: uppercase;
      color: #fff;
    }

    &__item-title {
      display: block;
      font-size: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 2px 0;
    }

    &__item-author {
      display: block;
      color: #900F2B;
      font-size: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: normal;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__prev-button,
    &__next-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      > img {
        width: 45px;
        height: 45px;
      }
    }

    &__prev-button {
      left: 4px;
    }

    &__next-button {
      right: 4px;
    }
  }

  &-album {
    position: relative;
    overflow: hidden;

    .tns-nav {
      display: none;
    }

    button[data-controls=prev],
    button[data-controls=next] {
      position: absolute;
      width: 56px;
      top: 32px;
      bottom: 26px;
      border: none;
      color: transparent;
      z-index: 1;
    }

    button[data-controls=prev] {
      background: #f1ece9 url(../images/icons/previous_album_button.png) no-repeat 2px center;
      background-size: 45px;
      left: 0;
    }

    button[data-controls=next] {
      background: #f1ece9 url(../images/icons/next_album_button.png) no-repeat 8px center;
      background-size: 45px;
      right: 0;

      > img {
        right: 0;
      }
    }

    &__more {
      list-style: none;
      font-size: 0;
      border-top: 1px solid #707070;
      border-bottom: 1px solid #707070;
      padding: 30px 0;
      margin: 20px 0;

      &-item {
        display: inline-block;
        width: 154px;
        padding: 0 11px;
      }

      &-cover {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
      }
    }
  }

  &-song {
    &:after {
      display: block;
      content: "";
      clear: both;
    }

    &__info {
      display: inline-block;
      margin: 10px 0;
      padding: 0 60px;
      vertical-align: top;
      width: 50%;

      &-cover {
        display: inline-block;
        width: 233px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
        margin-right: 30px;
      }

      &-detail {
        display: inline-block;
        vertical-align: top;
        max-width: 520px;
        min-height: 233px;
        position: relative;
      }

      &-album {
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 8px;
      }

      &-artist {
        color: #900F2B;
        text-transform: uppercase;
        font-size: 23px;
      }

      &-other {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 8px;
        position: absolute;
        bottom: 56px;

        a {
          color: #900F2B;
        }
      }

      &-country {
        font-size: 18px;
        text-transform: uppercase;
        position: absolute;
        bottom: 36px;
      }

      &-type {
        font-size: 14px;
        color: #fff;
        background: #F75E47;
        border-radius: 5px;
        padding: 5px 25px;
        position: absolute;
        bottom: 0;
      }

      &-description {
        font-size: 22px;
        font-weight: normal;
      }
    }

    &__playlist {
      float: right;
      width: 50%;
      vertical-align: top;
      list-style: none;
      margin: 10px 0;

      &-item {
        border-bottom: 1px solid #C4C4C4;
        padding: 0 0 0 40px;
        > * {
          display: inline-block;
          font-size: 28px;
          letter-spacing: 2px;
          color: #3F4847;
          vertical-align: middle;
          font-weight: normal;
          line-height: 110px;
        }

        &--current {
          background: #F75E47;
          border-radius: 5px;

          > * {
            color: #fff;
          }

          .main-song__playlist-icon {
            background: transparent url(../images/icons/song_playing.png) no-repeat center;
            background-size: 80%;
          }
        }
      }

      &-icon {
        width: 40px;
        height: 40px;
        background: transparent url(../images/icons/song_list_play_button.png) no-repeat center;
        background-size: 80%;
        margin-bottom: 6px;
      }

      &-track {
        margin: 0 50px;
      }

      &-song {
        width: 450px;
        height: 110px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 8px;
      }

      &-singer {
        width: 250px;
        height: 110px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-align: right;
      }
    }
  }
}

#album-page {
  display: none;
}