.now-playing {
  position: fixed;
  height: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(247, 94, 71, 0.9);
  border-top: 4px solid #181F24;
  padding: 20px 30px;
  text-align: center;
  z-index: 2;

  &__album {
    float: left;

    &-cover {
      display: inline-block;
      width: 80px;
      height: 80px;
      border-radius: 5px;
      vertical-align: middle;

      &.hide {
        display: none;
      }
    }

    &-info {
      display: inline-block;
      text-align: left;
      padding-left: 30px;
      vertical-align: middle;
    }

    &-title {
      font-size: 28px;
      letter-spacing: 2px;
      font-weight: 500;
      margin: 0 0 6px;
      max-width: 600px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-author {
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: normal;
    }
  }

  &__player-control {
    position: absolute;
    left: 50%;
    bottom: 18px;
    transform: translateX(-50%);

    > img {
      vertical-align: middle;
    }
  }

  &__player-state {
    width: 120px;
    margin: 0 32px;
  }

  &__player-prev,
  &__player-next {
    width: 48px;
    margin: 10px;
  }

  &__volume-control {
    position: relative;
    float: right;
    margin: 18px 32px 0 0;
  }

  &__volume-icon {
    width: 48px;
    height: 48px;
  }

  &__volume-slider {
    display: none;
    position: absolute;
    top: -238px;
    left: -130px;
    width: 300px;
    height: 100px;
    background: #eee;
    border: 4px solid #c4c4c4;
    transform: rotate(90deg);

    &.show {
      display: block;
    }

    &:before {
      position: absolute;
      display: block;
      bottom: 36px;
      left: 286px;
      content: "";
      width: 0;
      height: 0;
      transform: rotate(-90deg);
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #c4c4c4;
    }

    &:after{
      position: absolute;
      display: block;
      bottom: 38px;
      left: 284px;
      content: "";
      transform: rotate(-90deg);
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid #eee;
    }
  }

  &__volume-bar {
    width: 8px;
    height: 220px;
    background: #c4c4c4;
    position: absolute;
    left: 42px;
    top: 36px;

    &.js-volume-full {
      top: auto;
      bottom: 36px;
      background: #F75E47;
      height: 110px;
    }
  }

  &__volume-range {
    -webkit-appearance: none;
    width: 220px;
    height: 10px;
    background: #c4c4c4;
    outline: none;
    margin-top: 42px;
  
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 24px;
      height: 24px;
      background: #F75E47;
      cursor: pointer;
      border-radius: 50%;
    }
    
    &::-moz-range-thumb {
      width: 25px;
      height: 25px;
      background: #F75E47;
      cursor: pointer;
    }
  }

  &__volume-full {
    position: absolute;
    width: 112px;
    height: 10px;
    top: 0;
    right: 183px;
    background: #F75E47;
    transform: translate(146px, 42px);
  }

  &:after {
    display: block;
    content: "";
    clear: both;
  }
}