.popup {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  bottom: 0;
  width: 100%;

  &-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }

  &-body {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background: #F1ECE9;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    padding: 168px 200px;
    z-index: 4;
  }

  &-button {
    position: absolute;
    top: 80px;
    right: 0;
    background: #181F24;
    color: #F75E47;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1;
    padding: 24px;

    &__image {
      width: 24px;
      height: 24px;
      margin-left: 12px;
      margin-bottom: -3px;
    }
  }

  &-content {
    position: relative;
    height: 100%;
    overflow-y: auto;
    &__embed {
      display: inline-block;
      vertical-align: top;
      margin-right: 60px;

      &.fixed {
        position: fixed;
        top: 200px;
      }
    }
    &__text {
      float: right;
      max-width: 615px;
    }

    &__title {
      font-size: 30px;
      letter-spacing: 2px;
      margin: 0 0 70px;
      text-transform: uppercase;
    }

    &__bekraf {
      float: left;
      max-width: 615px;
    }

    &__desc {
      font-size: 30px;
      line-height: 40px;
      color: #3F4847;
      font-weight: normal;

      strong {
        font-weight: 500;
      }
    }
  }
}

body.js-popup--show {
  .popup {
    display: block;
  }
}