.timeline {
  position: fixed;
  background: rgba(241, 236, 233, 0.95);
  left: 0;
  right: 0;
  height: 120px;
  top: 100px;
  border-top: 4px solid #C4C4C4;
  z-index: 2;
  padding-top: 4px;

  &-pre {
    position: absolute;
    font-size: 24px;
    letter-spacing: 1px;
    color: #F75E47;
    margin-top: 18px;
    white-space: nowrap;
    top: -14px;
    left: -120px;
  }

  &-items {
    position: relative;
    font-size: 0;
    box-sizing: border-box;
    padding: 0 30px;

    &:before{
      display: block;
      content: "";
      height: 6px;
      background: #181F24;
      border-radius: 3px;
      position: absolute;
      left: 30px;
      right: 30px;
      bottom: 0;
      transform: translateY(13px);
    }

    &[data-year="PRE-INDEPENDENCE"] {
      .timeline-item:nth-of-type(1) {
        .timeline-item__year {
          font-weight: 700;
        }
        .timeline-item__circle {
          border: 6px solid #F75E47;
          width: 26px;
          height: 26px;
          background: #eee;
          transform: translate(-50%, -3px);
        }
      }
    }

    &[data-year="1950"] {
      .timeline-item:nth-of-type(1) {
        .timeline-item__circle {
          background: #F75E47;
        }
      }

      .timeline-item:nth-of-type(2) {
        .timeline-item__year {
          font-weight: 700;
        }
        .timeline-item__circle {
          border: 6px solid #F75E47;
          width: 26px;
          height: 26px;
          background: #eee;
          transform: translate(-50%, -3px);
        }
      }
    }

    &[data-year="1960"] {
      .timeline-item:nth-of-type(1),
      .timeline-item:nth-of-type(2) {
        .timeline-item__circle {
          background: #F75E47;
        }
      }

      .timeline-item:nth-of-type(3) {
        .timeline-item__year {
          font-weight: 700;
        }
        .timeline-item__circle {
          border: 6px solid #F75E47;
          width: 26px;
          height: 26px;
          background: #eee;
          transform: translate(-50%, -3px);
        }
      }
    }

    &[data-year="1970"] {
      .timeline-item:nth-of-type(1),
      .timeline-item:nth-of-type(2),
      .timeline-item:nth-of-type(3) {
        .timeline-item__circle {
          background: #F75E47;
        }
      }

      .timeline-item:nth-of-type(4) {
        .timeline-item__year {
          font-weight: 700;
        }
        .timeline-item__circle {
          border: 6px solid #F75E47;
          width: 26px;
          height: 26px;
          background: #eee;
          transform: translate(-50%, -3px);
        }
      }
    }

    &[data-year="1980"] {
      .timeline-item:nth-of-type(1),
      .timeline-item:nth-of-type(2),
      .timeline-item:nth-of-type(3),
      .timeline-item:nth-of-type(4) {
        .timeline-item__circle {
          background: #F75E47;
        }
      }

      .timeline-item:nth-of-type(5) {
        .timeline-item__year {
          font-weight: 700;
        }
        .timeline-item__circle {
          border: 6px solid #F75E47;
          width: 26px;
          height: 26px;
          background: #eee;
          transform: translate(-50%, -3px);
        }
      }
    }

    &--overlay {
      position: absolute;
      padding-right: 0;
      top: 4px;

      .timeline-item__circle,
      &:before {
        background: #F75E47;
      }

      &[data-year="PRE-INDEPENDENCE"] {
        width: calc(170px + 43px);
      }

      &[data-year="1950"] {
        width: calc(170px + 398px);
      }

      &[data-year="1960"] {
        width: calc(170px + 792px);
      }

      &[data-year="1970"] {
        width: calc(170px + 1142px);
      }

      &[data-year="1980"] {
        width: calc(170px + 1512px);
      }
    }
  }

  &-item {
    display: inline-block;
    font-size: 24px;
    letter-spacing: 1px;
    color: #F75E47;
    margin: 0 162px;
    position: relative;
    cursor: pointer;

    &__year {
      position: relative;
      margin: 18px 0 20px;
      z-index: 3;
    }

    &__circle {
      background: #181F24;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
    }
  }
}