<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Irama Nusantara - Home
    link(rel="stylesheet", href="./css/style.css")
  body
    .popup
      .popup-overlay
      .popup-body
        a.popup-button.js-trigger-popup
          | CLose
          img.popup-button__image(src="./images/icons/close_icon.png")
        .popup-content
          .popup-content__bekraf
            h3.popup-content__title Info Bekraf
            p.popup-content__desc
              | With increasing number of people in productive age, Indonesia is growing into a large pool of creative professionals. Sprawling across thousands of islands and hundreds of local ethnicities, Indonesia is a melting pot perfect to foster diverse talents. To home to ever growing creative economy with unlimited potentials.
              br
              br
              | Bekraf is developing a system in the music subsector, in which this system can identify and digitally record the data in order to manage musician royalty by involving various other Ministries / Institutions so that all songwriters and their works can be protected, and monetized in a professional IT-based system. 
              br
              br
              strong Triawan Munaf
              br
              | Chairman of Indonesia Creative Economy Agency
          .popup-content__text
            h3.popup-content__title IRAMA NUSANTARA
            p.popup-content__desc
              | Irama Nusantara is a center for the preservation and archiving of data and information on Indonesian popular music starting from the 1920s era, focusing on physical record release data; includes vinyl records, cassettes and compact discs.
              br
              br
              | Irama Nusantara was originally a social movement (formed in 2013) based on the awareness of the initiators considering the needs and on how important archiving and preservation of Indonesian popular music data, as part of the history and the development of Indonesian art and culture.
              br
              br
              | The fundamental activities of Irama Nusantara are collecting and recording all the physical records of Indonesian popular music that have ever existed, including all related information; involved artists, songwriters, accompaniment bands, record labels, and the music itself.
    .header
      .header-logo
        img.header-log__bekraf(src="./images/logo/bekraf.png")
        img.header-log__irnus(src="./images/logo/irnus.png")
      .header-stats
        .header-stats__archived
          .header-stats__archived-text
            | IRAMA NUSANTARA has archived
            span.header-stats__archived-count 97.216
            | minutes of recordings
        .header-stats__detail
          .header-stats__detail-song
            span.header-stats__detail-count 24.304
            span.header-stats__detail-text Tracks
          .header-stats__detail-release
            span.header-stats__detail-count 3.038
            span.header-stats__detail-text Releases
          .header-stats__detail-artist
            span.header-stats__detail-count 2.612
            span.header-stats__detail-text Artists
    .main#home-page
      .main-headline
        .main-headline__year 1950's
        .main-headline__logo-info
          img.main-headline__bekraf(src="./images/logo/bekraf.png")
          img.main-headline__irnus(src="./images/logo/irnus.png")
        a.main-headline__info.js-trigger-popup
          img.main-headline__info-icon(src="./images/icons/info_icon.png")
          span.main-headline__info-text
      .main-slider
        h2.main-title RELEASE FROM THIS ERA CAN BE PLAYED HERE
        ul.main-slider__items.js-tns-home
          li.main-slider__item
            a.main-slider__item-link.js-trigger-page(data-page="album")
              img.main-slider__item-cover(src="./images/album/album_1.jpg")
            a.main-slider__item-link.js-trigger-page(data-page="album")
              span.main-slider__item-title 1 + 2 = 3
              span.main-slider__item-author Coconut's Band
          li.main-slider__item
            a.main-slider__item-link.js-trigger-page(data-page="album")
              img.main-slider__item-cover(src="./images/album/album_2.jpg")
            a.main-slider__item-link.js-trigger-page(data-page="album")
              span.main-slider__item-title Wiwiek Abidin & O. M. Nirwana
              span.main-slider__item-author Wiwiek Abidin & O. M. Nirwana
          li.main-slider__item
            a.main-slider__item-link.js-trigger-page(data-page="album")
              img.main-slider__item-cover(src="./images/album/album_3.jpg")
            a.main-slider__item-link.js-trigger-page(data-page="album")
              span.main-slider__item-title Ajo Ngguju
              span.main-slider__item-author Waldjinah
          li.main-slider__item
            a.main-slider__item-link.js-trigger-page(data-page="album")
              img.main-slider__item-cover(src="./images/album/album_4.jpg")
            a.main-slider__item-link.js-trigger-page(data-page="album")
              span.main-slider__item-title Adjare Pardesi
              span.main-slider__item-author Orkes Melaju Omega
          li.main-slider__item
            a.main-slider__item-link.js-trigger-page(data-page="album")
              img.main-slider__item-cover(src="./images/album/album_5.jpg")
            a.main-slider__item-link.js-trigger-page(data-page="album")
              span.main-slider__item-title A Sing Sing So
              span.main-slider__item-author Pusaka Nada
      .main-album
        h2.main-title MORE ALBUMS ARE AVAILABLE TO LISTEN TO ON WEBSITE
        ul.main-album__items.js-more-album
          li.main-album__item
            a.main-album__item-link
              img.main-album__item-cover(src="./images/album/album_11.jpg")
              span.main-album__item-note Only playable on website
            a.main-album__item-link
              span.main-album__item-title A Go Go Dengan Dara Puspita
              span.main-album__item-author Dara Puspita
          li.main-album__item
            a.main-album__item-link
              img.main-album__item-cover(src="./images/album/album_13.jpg")
              span.main-album__item-note Only playable on website
            a.main-album__item-link
              span.main-album__item-title A. Riyanto
              span.main-album__item-author A. Riyanto
          li.main-album__item
            a.main-album__item-link
              img.main-album__item-cover(src="./images/album/album_14.jpg")
              span.main-album__item-note Only playable on website
            a.main-album__item-link
              span.main-album__item-title Abadi
              span.main-album__item-author Alfian
          li.main-album__item
            a.main-album__item-link
              img.main-album__item-cover(src="./images/album/album_15.jpg")
              span.main-album__item-note Only playable on website
            a.main-album__item-link
              span.main-album__item-title Abstract Club Band
              span.main-album__item-author Abstract Club Band
          li.main-album__item
            a.main-album__item-link
              img.main-album__item-cover(src="./images/album/album_16.jpg")
              span.main-album__item-note Only playable on website
            a.main-album__item-link
              span.main-album__item-title Irama High Fidelity
              span.main-album__item-author Orkes Dukun Duka
    .main.main--with-back-button#album-page
      .main-headline
        a.main-headline__back-button.js-trigger-page(data-page="home")
          img.main-headline__back-image(src="./images/icons/back_icon.png")
          | Back
        .main-headline__year 1950's
        .main-headline__logo-info
          img.main-headline__bekraf(src="./images/logo/bekraf.png")
          img.main-headline__irnus(src="./images/logo/irnus.png")
        a.main-headline__info.js-trigger-popup
          img.main-headline__info-icon(src="./images/icons/info_icon.png")
      h2.main-title RELEASE FROM THIS ERA THAT CAN BE PLAYED HERE
      .main-album
        ul.main-album__more.js-tns-album
        a.main-album__prev-button
          img.main-album__button-image(src="./images/icons/previous_album_button.png")
        a.main-album__next-button
          img.main-album__button-image(src="./images/icons/next_album_button.png")
      .main-song
        .main-song__info
          img.main-song__info-cover.js-album-cover(src="./images/album/album_3.jpg")
          .main-song__info-detail
            .main-song__info-album.js-album-name RANGKAIAN LAGU HIBURAN
            .main-song__info-artist.js-album-artist ORKES MAYA SERODJA
            .main-song__info-other.js-album-label
              a LOKANANTA 
              | - ARI - 044
            .main-song__info-country INDONESIA
            .main-song__info-type.js-album-format VINYL
          p.main-song__info-description.js-album-description
            | Rangkaian Lagu Hiburan album from Orkes Maya Serodja first digitized by Irama Nusantara on November 22, 2017.
        ul.main-song__playlist.js-playlist
          li.main-song__playlist-item.main-song__playlist-item--current
            .main-song__playlist-icon
            .main-song__playlist-track A1
            .main-song__playlist-song Belaian Sajang
            .main-song__playlist-singer Bing Slamet, Lies Sidik
          each val in [2,3,4,5,6,7]
            li.main-song__playlist-item
              .main-song__playlist-icon
              .main-song__playlist-track A#{val}
              .main-song__playlist-song Judul #{val}
              .main-song__playlist-singer Nama Penyanyi #{val}
    .timeline
      ul.timeline-items.js-timeline(data-year="1950")
        li.timeline-item.js-trigger-timeline(data-year="PRE-INDEPENDENCE")
          .timeline-item__year(data-year="PRE-INDEPENDENCE") &nbsp;
            span.timeline-pre(data-year="PRE-INDEPENDENCE") PRE-INDEPENDENCE
          .timeline-item__circle(data-year="PRE-INDEPENDENCE")
        li.timeline-item.js-trigger-timeline(data-year="1950")
          .timeline-item__year(data-year="1950") 50's
          .timeline-item__circle(data-year="1950")
        li.timeline-item.js-trigger-timeline(data-year="1960")
          .timeline-item__year(data-year="1960") 60's
          .timeline-item__circle(data-year="1960")
        li.timeline-item.js-trigger-timeline(data-year="1970")
          .timeline-item__year(data-year="1970") 70's
          .timeline-item__circle(data-year="1970")
        li.timeline-item.js-trigger-timeline(data-year="1980")
          .timeline-item__year(data-year="1980") 80's
          .timeline-item__circle(data-year="1980")
      ul.timeline-items.js-timeline.timeline-items--overlay(data-year="1950")
        li.timeline-item.js-trigger-timeline(data-year="1950")
          .timeline-item__year(data-year="1950") &nbsp;
    .now-playing
      .now-playing__album
        img.now-playing__album-cover.js-album-cover.hide(src="" alt="")
        .now-playing__album-info
          h3.now-playing__album-title.js-np-song 
          span.now-playing__album-author.js-np-artist 
      .now-playing__player-control
        img.now-playing__player-prev#prevButton(src="./images/icons/previous_button_.png")
        img.now-playing__player-state.hide#pauseButton(src="./images/icons/pause_button.png")
        img.now-playing__player-state#playButton(src="./images/icons/play_button.png")
        img.now-playing__player-next#nextButton(src="./images/icons/next_button_.png")
      .now-playing__volume-control
        img.now-playing__volume-icon.js-volume-toggle(src="./images/icons/volume_button.png")
        .now-playing__volume-slider
          <input type="range" min="1" max="10" value="5" class="now-playing__volume-range js-volume-slider">
          .now-playing__volume-full.js-volume-full
          
    script(src="./js/tinyslider.js")
    script(src="./js/howler.core.min.js")
    script(src="./js/app.js")
    script(src="./js/player.js")